body {
	background-color: MintCream;
	font-family: Calibri;


}
* {
	text-decoration: none;
}

.header {
	margin-top: -10px;
	width: 100%;
	height: 40px;
	background-color: white;
	box-shadow: 0 5px 60px 1px Gainsboro;
	border-radius: 10px;
	display: inline-flex;
	font-size: 17px;
}

.header img {
	width: 15px;
	height: 15px;
	margin-top: 5px;
	opacity: 0.4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.logotip2 {
	width: 210px;
	height: 65px;
	left: 60px;
  position: absolute;

}
.logotip2 img {
	height: 100%;
	width: 100%;
	opacity: 0.6;
}
.home_btn {
	margin:0px 0 0 365px;
	width: 140px;
	height: 35px;
	text-align: center;
	padding-top: 5px;
	color: DimGray;
	transition: 0.5s;
}
.place {
	width: 140px;
	height: 35px;
	text-align: center;
	padding-top: 5px;
	color: DimGray;
	transition: 0.5s;
}
.consultation {
	width: 140px;
	height: 35px;
	text-align: center;
	padding-top: 5px;
	color: DimGray;
	margin-left: 9px;
	transition: 0.5s;
}
.account {
	margin-left: 470px;
	width: 190px;
	height: 35px;
	text-align: center;
	padding-top: 5px;
	color: DimGray;
	transition: 0.5s;
}
.place:hover {
	opacity: 0.8;
	background-color: white;
	transform: scale(1.05);
}
.consultation:hover {
	opacity: 0.8;
	background-color: white;
	transform: scale(1.05);
}
.home_btn:hover {
	opacity: 0.8;
	background-color: white;
	transform: scale(1.05);
}
.account:hover {
	opacity: 0.8;
	background-color: white;
	transform: scale(1.05);
}






.cont {
	width: 1000px;
	height: 350px;
	margin-top: 20px;
	margin-left: 370px;
	border-radius: 10px;
  	box-shadow: 0 5px 60px 1px Gainsboro;
  	padding: 5px 50px;
  	font-size: 20px;
  	background-color: white;
}
.cennosti {
	width: 1100px;
	height: 550px;
	border-radius: 20px;
	box-shadow: 0 5px 60px 1px Gainsboro;
	background-color: #1e8988;
	color: white;
	margin:20px 0 0 370px;
}
.our_cennosti {
	display: flex;
}
.our_cennosti h1 {
	font-size: 40px;
	margin: 70px 0 0 50px;
}
.cennosti img {
	width: 120px;
	height: 120px;
	margin: 30px 0 0 50px;
}
.one,.two {
	display: flex;
}
.ikon {
    filter: brightness(0) invert(1);
}
.sotrudniki,.klienti,.produkt,.doverie {
	display: flex;
	margin: 20px 0 0 50px;
}
.sotrudniki img {
	height: 100px;
	width: 100px;
	margin: 40px 0 0 40px;
}
.klienti img {
	height: 120px;
	width: 120px;
	margin: 30px 0 0 40px;
}
.produkt img {
	height: 100px;
	width: 100px;
	margin: 50px 0 0 70px;
}
.doverie img {
	height: 110px;
	width: 110px;
	margin: 30px 0 0 55px;
}
.employee {
	width: 1100px;
	height: 1250px;
	border-radius: 20px;
	box-shadow: 0 5px 60px 1px Gainsboro;
	background-color: white;
	color: white;
	margin:20px 0 0 370px;
}
.employee h1 {
	color: black;
	padding: 50px 0 0 65px;
	font-size: 40px;
}
.first_line {
	display: flex;
	margin-top: 50px;
}
.first,.second,.third {
	width: 310px;
	height: 500px;
	margin-left: 23px;
	border-radius: 20px;
}
.first_line img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
.first_line {
	margin-left: 40px;
}
.first h1 {
	position: relative;
	top: -180px;
	left: -20px;
	color: white;
	font-size: 30px;
	transition: 0.3s;
} 	
.first:hover {
	.first_name {
		top: -210px;
	}
	.cherta {
		top: -220px;
	}
	.info {
		display: flex;
		top: -210px;
	}
}
.second {
	overflow: hidden;
}
.second img {
	width: 110%;
}
.second h1 {
	position: relative;
	top: -180px;
	left: -20px;
	color: white;
	font-size: 30px;
	transition: 0.3s;
} 
.second:hover {
	.first_name {
		top: -210px;
	}
	.cherta {
		top: -220px;
	}
	.info {
		display: flex;
		top: -210px;
	}
}
.third {
	overflow: hidden;
}
.third img {
	width: 105%;
}
.third h1 {
	position: relative;
	top: -180px;
	left: -20px;
	color: white;
	font-size: 30px;
	transition: 0.3s;
}
.third:hover {
	.first_name {
		top: -210px;
	}
	.cherta {
		top: -220px;
	}
	.info {
		display: flex;
		top: -210px;
	}
}





.second_line {
	display: flex;
	margin-top: 50px;
}
.fourth,.fifth,.sixth {
	width: 310px;
	height: 500px;
	margin-left: 23px;
	border-radius: 20px;
}
.second_line img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
.second_line {
	margin-left: 40px;
}
.fourth h1 {
	position: relative;
	top: -180px;
	left: -20px;
	color: white;
	font-size: 30px;
	transition: 0.3s;
}
.fourth:hover {
	.first_name {
		top: -210px;
	}
	.cherta {
		top: -220px;
	}
	.info {
		display: flex;
		top: -210px;
	}
}
.fifth {
	overflow: hidden;
}
.fifth img {
	width: 100%;
}
.fifth h1 {
	position: relative;
	top: -180px;
	left: -20px;
	color: white;
	font-size: 30px;
	transition: 0.3s;
}
.fifth:hover {
	.first_name {
		top: -210px;
	}
	.cherta {
		top: -220px;
	}
	.info {
		display: flex;
		top: -210px;
	}
}
.sixth {
	overflow: hidden;
}
.sixth img {
	width: 105%;
}
.sixth h1 {
	position: relative;
	top: -180px;
	left: -20px;
	color: white;
	font-size: 30px;
	transition: 0.3s;
} 
.cherta {
	width: 265px;
	height: 3px;
	background-color: #1e8988;
	position: relative;
	top:-190px;
	left: 25px;
	transition: 0.3s;
}
.info {
	position: relative;	
	top: -135px;
	left: 40px;
	color: white;
	font-size: 20px;
	transition: 0.3s;
}
.sixth:hover {
	.first_name {
		top: -210px;
	}
	.cherta {
		top: -220px;
	}
	.info {
		display: flex;
		top: -210px;
	}
}






.footer {
	margin: 100px;
	height: 200px;
}
.futer_logo {
  display: flex;
}
.futer_logo img {
  width: 160px;
  height: 50px;
  opacity: 0.8;
}
.cherta2 {
  width: 700px;
  height: 1px;
  background-color: #696969;
  margin-top: 20px;
}
.footer2 {
  display: flex;
  height: 200px;
}
.data {
  margin: 150px 0 0 20px;
  width: 500px;
  color: #696969;
}
.data p {
  font-size: 11px;
}
.our_place {
  margin: 40px 0 0 200px;
  color: #696969;
  width: 250px;
}
.our_contacts {
  margin: 20px 0 0 410px;
  text-align: right;
}
.phone_number {
  text-align: right;
  color: green;
  font-size: 30px;
  line-height: 50px;
}
.our_contacts img {
  width: 40px;
  height: 40px;
}
.our_contacts:hover a {
	background-color: white;
}